cmake_minimum_required(VERSION 3.27)

project(LUMATONE_EDITOR VERSION 0.0.1)

# find_package(juce)
add_subdirectory($ENV{juce_DIR} subprojects/juce)

juce_add_gui_app(
    LumatoneEditor
        PRODUCT_NAME "Lumatone Editor"
        VERSION "1.5.0b"
        BUNDLE_ID "com.Lumatone.LumatoneEditor"
        # ICON_SMALL "${CMAKE_CURRENT_SOURCE_DIR}/BinaryData/Assets/PNG/AppIcon@1x.png"
        # ICON_BIG "${CMAKE_CURRENT_SOURCE_DIR}/BinaryData/Assets/PNG/AppIcon@3x.png"
        DOCUMENT_EXTENSIONS "ltn"
        )
juce_generate_juce_header(LumatoneEditor)

set_directory_properties(
    PROPERTIES
        COMPANY_COPYRIGHT "BSD-0"
        COMPANY_NAME "Lumatone"
        COMPANY_WEBSITE "https://www.lumatone.io"
        COMPANY_EMAIL "support@lumatone.io"
)

file(GLOB_RECURSE SourceCode
    CONFIGURE_DEPENDS
        "${CMAKE_CURRENT_SOURCE_DIR}/Source/*.cpp"
        "${CMAKE_CURRENT_SOURCE_DIR}/Source/*.h"
    )

if (${CMAKE_SYSTEM_NAME} STREQUAL "Windows")
    set(LibraryPath "${CMAKE_CURRENT_SOURCE_DIR}/Libraries/win64")
    set(LibraryInclude "${LibraryPath}/include")
    set(LibraryCode "${LibraryInclude}/libssh2.h")

    add_library( SSHLib SHARED IMPORTED )
    set_target_properties( SSHLib PROPERTIES IMPORTED_LOCATION "${CMAKE_BINARY_DIR}/libssh2-x64.dll" )
    set_target_properties( SSHLib PROPERTIES IMPORTED_IMPLIB "${LibraryPath}/lib/libssh2.dll.a" )
endif()

if (APPLE)
    set(LibraryPath "${CMAKE_CURRENT_SOURCE_DIR}/Libraries/mac")
    set(LibraryInclude "${LibraryPath}/include")
    set(LibraryCode "${LibraryInclude}/libssh2.h")

    add_library(SSHLib SHARED IMPORTED)
    set_target_properties( SSHLib PROPERTIES IMPORTED_LOCATION "${LibraryPath}/lib/libssh2.dylib")
elseif(UNIX)
    find_package(PkgConfig REQUIRED)
    pkg_check_modules(SSHLib REQUIRED libssh2)

    target_include_directories(LumatoneEditor PUBLIC ${SSHLib_INCLUDE_DIRS})
    target_compile_options(LumatoneEditor PUBLIC ${SSHLib_CFLAGS_OTHER})
endif()

include_directories(${LibraryInclude})

target_sources(
    LumatoneEditor
        PRIVATE
            ${SourceCode}
            ${LibraryCode}
            )

target_compile_definitions(LumatoneEditor
    PRIVATE
        # Set to 1 if you are building with licensed fonts
        USE_LICENSED_FONTS=0

        SERVERKEY="debian"
        SERVERPWD="temppwd"

        SERVERHOST1="192.168.6.2"
        SERVERHOST2="192.168.7.2"

        JUCE_WEB_BROWSER=0
        JUCE_USE_CURL=0
        JUCE_APPLICATION_NAME_STRING="$<TARGET_PROPERTY:LumatoneEditor,JUCE_PRODUCT_NAME>"
        JUCE_APPLICATION_VERSION_STRING="$<TARGET_PROPERTY:LumatoneEditor,JUCE_VERSION>"
        DONT_SET_USING_JUCE_NAMESPACE=0
    )

if (UNIX)
    target_compile_definitions(LumatoneEditor
        PRIVATE
        HAVE_SYS_SOCKET_H=1
        HAVE_NETINET_IN_H=1
        HAVE_SYS_SELECT_H=1
        HAVE_UNISTD_H=1
        HAVE_ARPA_INET_H=1
        HAVE_SYS_TIME_H=1
        HAVE_POLL_H=1
    )
endif()

if (${CMAKE_SYSTEM_NAME} STREQUAL "Windows")
    target_compile_definitions(LumatoneEditor
        PRIVATE
        SERVERHOST="192.168.7.2"
    )
endif()

file(GLOB_RECURSE LibraryBinaryData
        CONFIGURE_DEPENDS
            "${CMAKE_CURRENT_SOURCE_DIR}/Source/lumatone_editor_library/assets/*"
    )
juce_add_binary_data(LumatoneEditorLibraryAssets SOURCES ${LibraryBinaryData})

file(GLOB_RECURSE EditorBinaryData
        CONFIGURE_DEPENDS
            "${CMAKE_CURRENT_SOURCE_DIR}/BinaryData/*"
    )
juce_add_binary_data(LumatoneEditorAssets SOURCES ${EditorBinaryData})

# juce_add_bundle_resources_directory(LumatoneEditor "${CMAKE_CURRENT_SOURCE_DIR}/Libraries/mac/lib")

if (APPLE OR ${CMAKE_SYSTEM_NAME} STREQUAL "Windows")
    target_link_libraries(LumatoneEditor
        PRIVATE
            LumatoneEditorAssets
            juce::juce_gui_extra
            juce::juce_audio_utils
            juce::juce_audio_devices
            juce::juce_opengl

            SSHLib

        PUBLIC
            juce::juce_recommended_config_flags
            juce::juce_recommended_lto_flags
            juce::juce_recommended_warning_flags
        )
else()
    target_link_libraries(LumatoneEditor
        PRIVATE
            LumatoneEditorAssets
            juce::juce_gui_extra
            juce::juce_audio_utils
            juce::juce_audio_devices
            juce::juce_opengl

            ${SSHLib_LIBRARIES}

        PUBLIC
            juce::juce_recommended_config_flags
            juce::juce_recommended_lto_flags
            juce::juce_recommended_warning_flags
        )
endif()

if (APPLE)
    add_custom_command(
        TARGET LumatoneEditor POST_BUILD
        COMMAND ${CMAKE_COMMAND} -E copy
            "../Libraries/mac/lib/libgpg-error.0.dylib"
            "LumatoneEditor_artefacts/$<CONFIG>/Lumatone\ Editor.app/Contents/Frameworks/libgpg-error.dylib"
    )
    add_custom_command(
        TARGET LumatoneEditor POST_BUILD
        COMMAND ${CMAKE_COMMAND} -E copy
            "../Libraries/mac/lib/libgcrypt.20.dylib"
            "LumatoneEditor_artefacts/$<CONFIG>/Lumatone\ Editor.app/Contents/Frameworks/libgcrypt.dylib"
    )
    add_custom_command(
        TARGET LumatoneEditor POST_BUILD
        COMMAND ${CMAKE_COMMAND} -E copy
            "../Libraries/mac/lib/libssh2.1.dylib"
            "LumatoneEditor_artefacts/$<CONFIG>/Lumatone\ Editor.app/Contents/Frameworks/libssh2.dylib"
    )

    add_custom_command(
        TARGET LumatoneEditor POST_BUILD
        COMMAND install_name_tool -change 
            @rpath/libssh2.dylib @loader_path/../Frameworks/libssh2.dylib ${JUCE_PRODUCT_NAME}
            LumatoneEditor_artefacts/$<CONFIG>/Lumatone\ Editor.app/Contents/MacOS/Lumatone\ Editor
    )
    
else if (${CMAKE_SYSTEM_NAME} STREQUAL "Windows")

add_custom_command(
    TARGET LumatoneEditor POST_BUILD
    COMMAND ${CMAKE_COMMAND} -E copy_directory
        ${LibraryPath}/bin
        ${CMAKE_CURRENT_BINARY_DIR}/LumatoneEditor_artefacts/$<CONFIG>
    )
endif()

# set_target_properties(LumatoneEditor PROPERTIES
#                       RUNTIME_OUTPUT_DIRECTORY_DEBUG ./Builds/Debug
#                       RUNTIME_OUTPUT_DIRECTORY_RELEASE ./Builds/Release
# )
